# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#    Title:    80-medtronic.rules
#
#    Author:   David Leclerc
#
#    Version:  0.1
#
#    Date:     22.06.2017
#
#    License:  GNU General Public License, Version 3
#              (http://www.gnu.org/licenses/gpl.html)
#
#    Overview: This is a UDEV rule to assign a fixed DEV path to a Medtronic
#              Carelink stick.
#
#    Notes:    This needs to be stored in: /etc/udev/rules.d/
#              After storing it, enact it with: sudo udevadm trigger
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

ATTRS{idVendor}=="0a21", ATTRS{idProduct}=="8001", \
  ENV{ID_MTP_DEVICE_IGNORE}="1", \
  ENV{ID_MM_DEVICE_IGNORE}="1"

ACTION=="add", \
  SUBSYSTEM=="tty", \
  ATTRS{idVendor}=="0a21", ATTRS{idProduct}=="8001", \
  GROUP="plugdev", \
  SYMLINK+="ttyUSB.stick", \
  RUN+="/home/pi/MeinKPS/MeinKPS/Pump/plug.sh"